.dashboard-row .dashboard-panel .panel-body.html {
  padding:0px;
  margin:0px;
}

.dashboard-panel.custom-panel-background {
	background-color: transparent;
}

.dashboard-panel.custom-panel-background h2.panel-title {
	background-color: transparent;
    margin: 0px;
    padding: 5px;
}

#recentlyAddedItems_label h2 {
    background-color: transparent;
    margin: 0px;
    padding: 5px;
}


