
/* Custom Cell Icons */
td.icon {
  text-align: center;
}
td.icon i {
  font-size: 25px;
  text-shadow: 1px 1px #aaa;
}
.icon-inline i {
  font-size: 18px;
}

td.table_inline_icon {
  width: 13px;
  border-right: 1px solid #d5d5d5;
}

/* #myTable panel */

/* Hidden Cells */
#myTable .id,
#myTable [data\-sort\-key='id'],
#myTable .status,
#myTable [data\-sort\-key='status'],
#myTable .input_date,
#myTable [data\-sort\-key='input_date'],
#myTable .type,
#myTable [data\-sort\-key='type'],
#myTable .action,
#myTable [data\-sort\-key='action'],
#myTable [data\-sort\-key='field'],
#myTable [data\-sort\-key='value']   {
  display:none;
}

#myTable [data\-sort\-key='edit'] {
  min-width: 20px !important;  
  max-width: 20px !important;
  width: 20px !important;
  padding:0px;
  margin:0px;
}

#myTable [data\-sort\-key='edit'] a {
  /* color:transparent !important; */
  display:none;  
}

/* #item_options modal */
.modal-header {
	margin-bottom: 20px;
}

.item-details-header,
.location-header,
.delete-header {
	font-weight: bold;
	text-decoration: underline;
}

.item-details-row {
	display: block;
}

.item-details-label {
	float: left;
	font-weight: bold;
	width: 50px;
	padding-right: 60px;
	margin: 0px;
}

.item-details-value {
    display: block;
    overflow: hidden;
    overflow-wrap: break-word;
    padding: 2px;
    padding-right: 50px;
}

.delete-row {
	display: block;
	text-align: center;
	font-size: large;
	font-weight: bold;
	font-family: monospace;
}

.section-header {
	display: block;
	width: 390px;
}

.select2-container .select2-choice {
	margin-bottom: 10px;
}

.btn-view {
	display: inline-block;
	border: 1px solid transparent;
	border-radius: 3px;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
	background-color: transparent;
	padding: 5px 14px;
}

.btn-label {
	padding-left: 0.5em;
}

div [id^='item_details_'] {
	float: left;
	display: block;
	width: 400px;
}

#header-freezer {
	position: relative;
	top: -30px;
	left: 60px;
}

div [id^='freezer_details_'] {
	display: block;
	position: relative;
	top: -30px;
	width: 250px;
	height: fit-content;
	padding-left: 50px;
}

div.shared-resultstable-resultstablemaster.results-table {
	overflow: hidden;
}

hr {
	padding: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

hr.bottom-rule {
	margin-top: 175px;
}


td.row-table-value {
	white-space: pre-wrap !important;
    word-break: break-all;
	/*text-transform: uppercase;*/
}

