
/* Custom Cell Icons */
td.icon {
  text-align: center;
  align-content: center;
}
td.icon i {
  font-size: 25px;
  text-shadow: 1px 1px #aaa;
  align-content: center;
}
.icon-inline i {
  font-size: 18px;
}

td.table_inline_icon {
  width: 13px;
  border-right: 1px solid #d5d5d5;
}

#myTable [data\-sort\-key='edit'] {
  min-width: 20px !important;  
  max-width: 20px !important;
  width: 20px !important;
  padding:0px;
  margin:0px;
}

#myTable [data\-sort\-key='edit'] a {
  /* color:transparent !important; */
  display:none;  
}

#myTable [data\-sort\-key='active'],
#myTable [data\-sort\-key='default'] {
    text-align: center;
}

#myTable [data\-sort\-key='active'] a,
#myTable [data\-sort\-key='default'] a {
  /* color:transparent !important; */
  font-weight: bold;
  text-transform: uppercase;
  float: left;
  width: 20px;
}

.dashboard-row .dashboard-panel .panel-body.html {
  padding:0px;
  margin:0px;
}

.delete-row {
	display: block;
	text-align: center;
}

.container-warning {
	padding: 30px;
}

.container-warning-header {
	font-size: 24px;
	font-weight: bolder;
	text-decoration-line: underline;
	text-transform: uppercase;
	color: red;
	padding-bottom: 10px;
}

.container-warning-body {
	font-size: 16px;
	font-weight: bolder;
	display: block;
	padding-bottom: 10px;
}

.button-container {
	padding: 10px;	
}

a.button {
	cursor: pointer;
	display: table-cell;
	width: inherit;
	height: inherit;
	border-radius: 25px;
	font-size: large;
	background-color: black;
	color: white;
	vertical-align: middle;
	text-align: center;
}

a.button:focus {
	outline: none;
	border: none;
}

/* unvisited link */
a.button:link {
	text-decoration: none;
}

/* visited link */
a.button:visited {
	text-decoration: none;
}

/* mouse over link */
a.button:hover {
	text-decoration: none;
}

/* selected link */
a.button:active {
	text-decoration: none;
}

#button-add {
	position: relative;
	display: block;
	float: right;
	width: 150px;
	height: 30px;
	right: 30px;
	bottom: 20px;
}

